<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <!--table 태그 : 웹 문서 상의 표를 나타내기 위한 태그
        <table>
            <tr> : 표의 행으르 나타내는 태그
            <th> : 표의 머릿글(가장 윗 줄)을 나타내는 태그
            <td> : 표의 내용(각 컬럼)을 나타내는 태그
        </table>
    -->
    <h1> 기본 테이블 만들기 </h1>
    <table border = "1">
    	<caption><b> 웹 브라우저 종류</b></caption><!--테이블의 제목, 설명-->
    	<tr>
    		<th>웹브라우저명</th>
    		<th>제조사</th>
    		<th>홈페이지</th>
    	</tr>
    	<tr>
    		<th>구글크롬</th>
    		<th>google</th>
    		<th>http://www.google.com</th>
    	</tr>
    	<tr>
    		<th>인터넷 익스플로러</th>
    		<th>MS</th>
    		<th>http://www.microsoft.com</th>
    	</tr>
    	<tr>
    		<th>파이어폭스</th>
    		<th>Mozilla</th>
    		<th>http://www.Mozilla.org</th>
    	</tr>
    	<hr>
    	
       <!--
           <tb> 의 태그 속성을 활용하여 테이블의 각 칸을(즉, 행, 열을) 병합할 수 잇다
            rowsapn: 세로 행을 합칠때 사용
            closapn: 가로 열을 합칠 때 사용
            
            ** 주의사항 **
            합치려는 열이나 행의 갯수가
            테이블의 형채에 맞게 설정하여야 한다
        -->

        <h1> 표의 행과 열 합치기</h1>
        <h3>회원 정보</h3>
        <table border ="1">
        	<tr>
        		<td width ="130px" height ="150px" align ="center" rowspan ="2" colspan="2">사진</td>
        		<td width ="80px">이름</td>
        		<td width ="200px"></td>
        	</tr>
        	
        	<tr>
        		<td>연락처</td>
        		<td></td>
        	</tr>
        	<tr>
        		<td with="70" height="50">주소</td>
        		<td colspan="3"></td>

        	</tr>

        </table>
        <h1>테이블 구조 확인하기</h1>
        <table border="1">
        <!--
            <thead>  :테이블의 머릿글 영역을 설정
            <tbode> : 테이블의 내용영역을 설정
            <tfoot> : 테이블의 바닥글 영역을 설정
            -->
            <thead><!--테이블의 머릿글-->
            	<tr>
            		<th>이름</th>
            		<th>나이</th>
            		<th>주소</th>
            	</tr>
            </thead>
            <tbody>
            	<tr>
            		<th>홍길동</th>
            		<th>10</th>
            		<th>서울시 강남구</th>
            	</tr>
            	<tr>
            		<th>김유신</th>
            		<th>20</th>
            		<th>서울시 수원</th>
            	</tr>
            	<tr>
            		<th>심사임당</th>
            		<th>30</th>
            		<th>충남 천안</th>
            	</tr>
            </tbody>
            <tfoot>
            	<tr>
            		<td colspan="2">총인원</td>
            		<td>3명</td>
            	</tr>
            </tfoot>
        </table>

        <br><br><br>
        <br><br><br>

        <a href="index.html">처음페이지로 이동하기</a>

    </body>
    </html>